<%- include('../partials/header') %>
<h2>Cadastrar Novo Filme</h2>
<% if (typeof error !== 'undefined') { %>
  <p style="color:red;"><%= error %></p>
<% } %>
<form method="POST" action="/movies/new">
  <label>Título: <input type="text" name="title" required></label><br>
  <label>Ano: <input type="number" name="year"></label><br>
  <label>Diretor:
    <select name="director_id" required>
      <option value="">Selecione</option>
      <% directors.forEach(d => { %>
        <option value="<%= d.id %>"><%= d.name %></option>
      <% }) %>
    </select>
  </label><br>
  <button type="submit">Cadastrar</button>
</form>
<a href="/movies">Voltar</a>
<%- include('../partials/footer') %> 